{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <a href="{{ path('home3', {'a':'xy', 'b':'j'}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Параметры2</a>

{% endblock %}
